@charset "utf-8";
/* CSS Document */
.ye{ width:100%; height:180px; background:#4d90e7;}
.user{ padding:20px; font-size:20px; line-height:20px;}
.user span{ color:#c7dcf7;}
.number{ padding:10px 30px; font-size:60px; line-height:60px; font-family:"微软雅黑";}
.number span{ color:#fff;}

.record{ width:100%; height:auto; padding:20px 0px 0px 0px;}
.navgate{ padding:10px 15px; height:20px; background:#f5f5f9; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.navgate span{ font-size:16px; color:#8d8d8d; line-height:20px;}

.xf{ margin-bottom:10px; height:86px; background:#fff;}
.xf_top{ padding:0px 15px; height:35px; border-bottom:1px solid #e9e9e9; line-height:35px; font-size:16px; color:#999;}
.xf_top strong{ font-size:16px; color:#0f8b0e;}
.xf_top span.xftime{ float:left;}
.xf_top span.xfye{ float:right;}
.xf_down{ padding:0px 15px; height:50px; line-height:50px; font-size:16px; color:#555;}
.xf_down strong{ font-size:16px; color:#f00; font-weight:normal;}
.xf_down span.place{ float:left; background:url(../images/qtb.png) no-repeat 0px center; padding-left:16px;}
.xf_down span.buckle{ float:right;}

.more{ width:100%; height:40px; text-align:center; background:#fff; margin-bottom:10px;}
.more span{ display:block; line-height:40px; font-size:16px;}
.more a,.more a:hover{ display:block; color:#8d8d8d;}